$primary-font: "Arial Nova", "sans";
$mono-font: "Fira Mono", "Consolas", "monospace";
$bg-color: #ffffff;
$bg-highlight-color: #f2f2f2;
$secondary-color: #777777;
$primary-color: #111111;
$emph-color: #000000;

$grid-cell-size: 4.2em;
$grid-cell-margin: 0.2em;
$grid-cell-border: 0.2em;

* {
}

body {
	display: flex;
	height: 100vh;
	flex-direction: column;
	overflow: hidden;
}

.main-body {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.main-animation {
	display: flex;
	flex-direction: column;
	padding: 0;
	flex: 1;
	overflow: auto;
}

.grid-wrapper {
	flex: 1;
	padding: 10px;
}

.grid-container {
	position: relative;
	font-family: $mono-font;
	font-size: 20px;
	//background-color: $secondary-color;
    margin: 0 auto;
	width: 14em;
	height: 14em;
}

.grid-cell {
	background-color: #ffffff;
	position: absolute;
	width: $grid-cell-size - 2 * $grid-cell-margin;
	height: $grid-cell-size - 2 * $grid-cell-margin;
	padding: 0;
	margin: $grid-cell-margin;

	border: $grid-cell-border solid darken($bg-highlight-color, 20%);
	border-radius: 0.15em;

	transition-property: top, left, background-color;
	transition-duration: 0.4s;

	text-align: center;
	line-height: $grid-cell-size - 2 * $grid-cell-border - 2 * $grid-cell-margin;
}

.grid-cell > span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}


.sidebar {
	font-family: $primary-font;
	/*position: fixed;
	top: 0px;
	bottom: 0;
	left: 0;*/
	z-index: 1000;
	//display: block;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: $bg-highlight-color;
	border-left: 0px solid $secondary-color;
	min-width: 300px;
}

.controls {
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.sidebar > h1 {
	padding: 0.4em;
	margin: 0;
	font-size: 20px;
	border-bottom: 1px solid darken($bg-highlight-color, 10%);
}
